::-webkit-scrollbar{
  width:1em;
  background-color: black;
}

 ::-webkit-scrollbar-thumb{
  background-color: darkcyan;
}

header{
  max-width: 85%;
  margin: 0 auto !important; 
}

ul{
  list-style: none;
    padding: 0;
}

.header-nav{
  gap: 3em;

}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container{
  max-width: 85%;
  margin: 0 auto;
}

.hero-image{
  width: 500px;
  height: 500px;
}

.services-list img{
  width: 350px;
  height: 350px;
} 

.aboutUs-section img{
  width: 550px;
  height: 550px;
}

.aboutUs-section p{
  max-width: 40%;
}

.footer{
  padding-block: 4em;
  background-color: darkcyan;
  color: white;
}

.footer p,h2{
  text-align: center;
}